input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


body {
  background-color: DodgerBlue;
}

#Portal{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;

}

#Header{
  padding-top: 120px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 300%;
}
