@font-face {
font-family: "Lato-Black";
src: url("Fonts/Lato-Black.ttf");
src: url("Fonts/Lato-Black.eot") format("eot"),
url("Fonts/Lato-Black.woff") format("woff"),
url("Fonts/Lato-Black.woff2") format("woff2");
}

@@font-face {
  font-family: "Lato-Light";
  src: url("Fonts/Lato-Light.ttf");
  src: url("Fonts/Lato-Light.eot") format("eot"),
  url("Fonts/Lato-Light.woff") format("woff"),
  url("Fonts/Lato-Light.woff2") format("woff2");
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Lato-Light", lato-light, sans-serif;
}


body {
  background-color: DodgerBlue;
}

#Portal{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Lato-Light", lato-light, sans-serif;
}

#Header{
  padding-top: 120px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 300%;
  font-family: "Lato-Light", lato-light, sans-serif;
}
